<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />


<div class="container">
    <div class="row">
        <div class="col">
            <h1>BOT FOR INSTAGRAM</h1>
            <h5>Introducere date</h5>
            <form method="POST" action="/goFollow">
                <span>
                    <label for="passwinput">username for instagram</label>
                    <input type = "text" placeholder="Username Instagram" name="username"> 
                </span>
               
                <span>
                    <label for="passwinput">password for instagram</label>
                    <input type="password" placeholder="Password", name = "password" id ="passwinput">
                </span>
                
                <span>
                    <label for="follow">how many to follow</label>
                    <input type="text" placeholder="how many", name = "follow" id ="followinput">
                </span>

                <button class="button button-primary">Start IG BOT</button>
            </form>
        </div>
    </div>
</div>
